[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
"psycopg2" = "*"
django-heroku = "*"
bcrypt = "*"
"argon2-cffi" = "*"

[dev-packages]

[requires]
python_version = "3.6"
